<div class="page-wrapper">
    <section class="banner-ayn-about">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-section wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <h2>Read from our blogs</h2>
                        <div class="text">Pine is a CRM solution designed to handle complex customer data and generate fruitful information, which helps businesses improve marketing strategies to achieve higher sales targets. With Pine CRM you can discover new possibilities
                            to interact with customers, where you can sell and increase your business like never before!
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.10" data-paroller-factor-sm="0.10" data-paroller-type="foreground" data-paroller-direction="horizontal">
                        <img src="assets/images/mokeup-7.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pine_blogs banner-ayn-about">

        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-section wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <h2>Read from our blogs</h2>
                        <div class="text">Pine is a CRM solution designed to handle complex customer data and generate fruitful information, which helps businesses improve marketing strategies to achieve higher sales targets. With Pine CRM you can discover new possibilities
                            to interact with customers, where you can sell and increase your business like never before!
                        </div>
                        <!-- <a href="#" class="btn-banner">Explore Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.10" data-paroller-factor-sm="0.10" data-paroller-type="foreground" data-paroller-direction="horizontal">
                        <img src="images/mokeup-7.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pine_blogs">
        <div class="container">
            <div class="row">

                <div class="content-blog col-lg-8 col-md-12 col-sm-12">
                    <div class="">

                        <div class="our-blog img_over">
                            <div class="blog-box">
                                <div class="image">
                                    <div class="create-time">16 August 2018</div>
                                    <a href="blog-details.html"><img src="images/Blog/user.jpg" alt="" /></a>
                                </div>
                                <div class="inside-content">
                                    <h3><a href="blog-details.html">New Trendy Slide Image Post</a></h3>
                                    <div class="text">Efficiently unleash cross-media information without cross-media value. ables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.leveling customer service.</div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="author-details">
                                                <div class="author-data">
                                                    <div class="image">
                                                        <img src="images/Blog/user.jpg" alt="" />
                                                    </div>
                                                    <div class="admin_name">Admin ;</div>
                                                    <div class="author_name">Helena Kamil</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pull-right">
                                            <div class="social_icons">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                            </div>
                                            <a href="#" class="post_likes"><i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <span class="total_likes">12</span></a>
                                            <div class="times">15 min ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="">

                        <div class="our-blog img_over">
                            <div class="blog-box">
                                <div class="image">
                                    <div class="create-time">16 August 2018</div>
                                    <a href="blog-details.html"><img src="images/Blog/user.jpg" alt="" /></a>
                                </div>
                                <div class="inside-content">
                                    <h3><a href="blog-details.html">New Trendy Slide Image Post</a></h3>
                                    <div class="text">Efficiently unleash cross-media information without cross-media value. ables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.leveling customer service.</div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="author-details">
                                                <div class="author-data">
                                                    <div class="image">
                                                        <img src="images/Blog/user.jpg" alt="" />
                                                    </div>
                                                    <div class="admin_name">Admin ;</div>
                                                    <div class="author_name">Helena Kamil</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="social_icons">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-pinterest"></span></a>
                                            </div>
                                            <a href="#" class="post_likes"><i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <span class="total_likes">12</span></a>
                                            <div class="times">15 min ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-blog col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                        <div class="sidebar_block category_block">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <div class="block-content">
                                <ul>
                                    <li><a href="#">Web design<span>(5)</span></a></li>
                                    <li><a href="#">Developpement<span>(23)</span></a></li>
                                    <li><a href="#">UX design<span>(11)</span></a></li>
                                    <li><a href="#">Others<span>(16)</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_block popular_blog">
                            <div class="sidebar-title">
                                <h2>Recent Blog</h2>
                            </div>
                            <div class="block-content">

                                <article class="post_data">
                                    <div class="text"><a href="blog-single.html">Information without cross-media value. ables for real-time schemas.</a></div>
                                    <div class="post_date">15 August 2018</div>
                                </article>

                                <article class="post_data">
                                    <div class="text"><a href="blog-single.html">Information without cross-media value. for real-time schemas.</a></div>
                                    <div class="post">16 August 2018</div>
                                </article>

                                <article class="post_data">
                                    <div class="text"><a href="blog-single.html">Without cross-media value. ables form the for real-time schemas.</a></div>
                                    <div class="post_date">17 August 2018</div>
                                </article>

                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>




</div>





