.info_card {
    text-align: center;
    margin-bottom: 24px;
    .num {
        font-size: 50px;
    }
    h4 {
        width: 100%;
    }
    button {
        margin-bottom: 15px;
    }
}
.trending {
    margin-bottom: 2px;
    h6 {
        color: #7f8497;
    }
    button {
        margin-bottom: 15px;
    }
}