<section class="banner-ayn">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-section">
                    <a href="" class="typewrite" data-period="700"
                        data-type='[ "Hi, Im Si.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
                        <span class="wrap"></span>
                    </a><br>
                    <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">Control Your Workflows With
                        <br>Pine CRM Software
                    </h2>
                    <div class="wow slideInLeft app_text" data-wow-duration="1s" data-wow-delay="0.5s">Pine, AI-based
                        CRM is an end-to-end, fully customizable solution that offers easy integration and automates the
                        complete sales and marketing cycle. It helps businesses of all sizes build better customer
                        relationships and automate mundane tasks, which increases the businesses' efficacy. Run your
                        entire business on a single CRM application, powered by various technologies like AI and ML,
                        which help convert more leads, engage more customers, and increase your revenue.
                    </div>
                    <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                        <a href="#" class="btn-banner">Watch Demo <i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i></a>
                        <a routerLink= "/register" class="btn-banner btn_free">Free Trial <i
                                class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="image-section col-lg-6 col-md-12 col-sm-12">
                <div class="round-ayn"></div>
                <div class="inner-section">
                    <div class="image paroller" data-paroller-factor="-0.15" data-paroller-factor-lg="-0.15"
                        data-paroller-factor-md="-0.15" data-paroller-factor-sm="-0.15" data-paroller-type="foreground"
                        data-paroller-direction="horizontal">
                        <img src="assets/images/CRM.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-ayn">
    <div class="container">

        <div class="service-title">
            <h2>One Solution, Multiple Operations
            </h2>
        </div>

        <div class="row">
            <div class="service_content col-lg-3 col-md-6 col-sm-12">
                <div class="content_inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-bg">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h3><a href="#">Easy Migration</a></h3>
                    <div class="app_text">Seamless migration from a legacy system, databases, and on-premise CRM.
                    </div>
                </div>
            </div>

            <div class="service_content col-lg-3 col-md-6 col-sm-12">
                <div class="content_inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="icon-bg">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h3><a href="#">Modular Application</a></h3>
                    <div class="app_text">Customize application as per demands to overcome today's challenges.</div>
                </div>
            </div>

            <div class="service_content col-lg-3 col-md-6 col-sm-12">
                <div class="content_inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="icon-bg">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h3><a href="#">Techno-driven Solution</a></h3>
                    <div class="app_text">Get real-time analytics and AI chatbot to enhance customers' experience.</div>
                </div>
            </div>

            <div class="service_content col-lg-3 col-md-6 col-sm-12">
                <div class="content_inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="icon-bg">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h3><a href="#">Easy Integrations</a></h3>
                    <div class="app_text">Integrate any existing or new application easily with Pine CRM system.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ayn_app">
    <div class="container">
        <div class="row ">
            <div class="app_image col-lg-6 col-md-6 col-md-12">
                <div class="app_inner">
                    <div class="message-app  paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15"
                        data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground"
                        data-paroller-direction="horizontal">
                        <div class="app_box_inner">
                            <div class="app_one"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
                            <div class="app_two"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></div>
                            <h3>Invite Friend</h3>
                            <div class="app_app_text">Efficiently unleash cross-media information without cross.
                            </div>
                        </div>
                    </div>
                    <div class="app_play  paroller" data-paroller-factor="-0.15" data-paroller-factor-lg="-0.15"
                        data-paroller-factor-md="-0.15" data-paroller-factor-sm="-0.15" data-paroller-type="foreground"
                        data-paroller-direction="horizontal">
                        <div class="app_box_inner">
                            <a href="#" class="video_play video_play_btn">
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            </a>
                            video <br> 30.min
                        </div>
                    </div>
                    <div class="chat_app  paroller" data-paroller-factor="-0.15" data-paroller-factor-lg="-0.15"
                        data-paroller-factor-md="-0.15" data-paroller-factor-sm="-0.15" data-paroller-type="foreground"
                        data-paroller-direction="vertical"><img src="assets/images/chat-icon.png" alt="" /></div>
                    <div class="app_image_mbl">
                        <img src="assets/images/app.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="app_content col-lg-6 col-md-6 col-md-12">
                <div class="app_inner">
                    <h2>Meet Asimov, your journey partner in the Pine CRM
                    </h2>
                    <div class="app_text">
                        Asimov, your AI assistant, lets you help manage all activities in the Pine CRM software
                        intelligently. Asimov can fetch the data you want, analyze clients' feedback, take notes as you
                        speak, automate various repetitive tasks, recognize text on images, forecast sales activities,
                        and more. Stay on top of every action with our new team member,i.e., Asimov, AI-powered
                        assistant.
                    </div>
                    <a href="#" class="btn_app_acess">Explore Now <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="ayn_services_all">
    <div class="container">
        <div class="ayn_services_all_title">
            <h2>Bring the Smart CRM to your business.</h2>
        </div>
        <div class="ayn_service_two">
            <div class="all_service_inner">
                <div class="row">
                    <div class="all_service_content col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInLeft" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="all_service_icon_box">
                                <div class="all_service_number">01</div>
                                <!-- <i class="fa fa-lightbulb-o" aria-hidden="true"></i> -->
                            </div>
                            <h3>Online Tracking of Your Mobile Workforce</h3>
                            <div class="all_service_text">Ensure maximum productivity of your on-field executive by
                                accurately tracking the location and calculating their working hours with the help of
                                the Pine GPS-based real-time tracking system. Genuine data and real-time data updates
                                that can be easily integrated with your system are no longer troublesome. Pine customer
                                relationship management software allows you to mark the geographical locations like the
                                client's office so that the field executives can log in as soon as they arrive at the
                                site and log-out as soon as they leave.</div>
                        </div>
                    </div>

                    <div class="image_service col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInRight" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="image paroller" data-paroller-factor="0.1" data-paroller-factor-lg="0.1"
                                data-paroller-factor-md="0.1" data-paroller-factor-sm="0.1"
                                data-paroller-type="foreground" data-paroller-direction="horizontal">
                                <img src="assets/images/ayn_services-1.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ayn_service_three">
            <div class="all_service_inner">
                <div class="row clearfix">
                    <div class="image_service col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInLeft" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="image paroller" data-paroller-factor="-0.1" data-paroller-factor-lg="-0.1"
                                data-paroller-factor-md="-0.1" data-paroller-factor-sm="-0.1"
                                data-paroller-type="foreground" data-paroller-direction="horizontal">
                                <img src="assets/images/ayn_services-2.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="all_service_content col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInRight" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="all_service_icon_box">
                                <div class="all_service_number">02</div>
                                <!-- <i class="fa fa-anchor" aria-hidden="true"></i> -->
                            </div>
                            <h3>Boost Your Sales with our <br>Turn-key Features</h3>
                            <div class="all_service_text">Collaborate with your team through an online communication
                                channel "chatter," where you can share insights, answer each other queries, discuss
                                strategies, and send deals updates to keep everyone on the same page. As the Pine is a
                                cloud-based CRM, you get real-time prospects alerts whenever someone visits the website.
                                Have a better customer understanding and provide a better experience by giving instant
                                personalized solutions. Manage contacts with ease via multiple communication channels
                                like emails, call dialers, and WhatsApp while also maintaining prospects data.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ayn_service_two">
            <div class="all_service_inner">
                <div class="row clearfix">

                    <div class="all_service_content col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInLeft" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="all_service_icon_box">
                                <div class="all_service_number">03</div>
                                <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                            </div>
                            <h3>Save More Time by Automating <br>Mundane Tasks </h3>
                            <div class="all_service_text">Taking the right decision at crucial stages of the sales
                                process is essential and can change the entire customer experience as well. We have
                                leveraged the latest technologies like artificial intelligence and machine learning to
                                automate various time consuming and mundane tasks. It automatically segregates leads as
                                hot leads and cold leads by analyzing, which later helps the sales team to focus more on
                                hot leads. It stores customers' data by analyzing speech between the sales team and the
                                client to boost the organization's productivity.</div>
                        </div>
                    </div>

                    <div class="image_service col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInRight" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="image paroller" data-paroller-factor="0.1" data-paroller-factor-lg="0.1"
                                data-paroller-factor-md="0.1" data-paroller-factor-sm="0.1"
                                data-paroller-type="foreground" data-paroller-direction="horizontal">
                                <img src="assets/images/ayn_services-3.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ayn_service_three">
            <div class="all_service_inner">
                <div class="row clearfix">

                    <div class="image_service col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInLeft" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="image paroller" data-paroller-factor="-0.1" data-paroller-factor-lg="-0.1"
                                data-paroller-factor-md="-0.1" data-paroller-factor-sm="-0.1"
                                data-paroller-type="foreground" data-paroller-direction="horizontal">
                                <img src="assets/images/ayn_services-4.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="all_service_content col-lg-6 col-md-6 col-sm-12">
                        <div class="all_service_inner_column wow fadeInRight" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="all_service_icon_box">
                                <div class="all_service_number">04</div>
                                <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
                            </div>
                            <h3>Get Powerful, Real-time Insights <br>and Reports </h3>
                            <div class="all_service_text">Pine CRM analytics empowers everyone in the organization to
                                make data-driven decisions. It collects data from various sources like contacts,
                                campaigns, tasks, vendors, quotes, and many others to provide current trends by
                                analyzing all the data. Moreover, it analyzes sales activity keenly and tracks the
                                numbers at every stage of your sales pipeline. Sales CRM creates funnels for important
                                metrics and know whenever there is a significant drop or rise in the sales pipeline.
                                With this funnel, you can see your conversion rates, identify leads, and measure the
                                overall efficiency.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<section class="testimonial-ayn">
    <div class="container">
        <div class="row">
            <div class="carousel-ayn col-lg-6 col-md-6 col-sm-12">
                <div class="inner-testimonial">
                    <div class="bg-text"><img src="assets/images/logo-transparent.png"></div>
                    <div class="testimonial_sec owl-carousel owl-stheme">
                        <div class="content_team">
                            <h2>John Doue</h2>
                            <div class="testimonial_title">Designer</div>
                            <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                            <div class="text_testimonial">Efficiently unleash cross-media information without
                                cross-media value. Quickly maximizePodcasting operational change management inside of
                                workflows to establish a framework. Taking seamless key performance indicators
                                offline to maximise the long tail. Keeping your eye on the ball while performing a
                                deepdive on the integration.</div>
                        </div>

                        <div class="content_team">
                            <h2>John Doue</h2>
                            <div class="testimonial_title">Designer</div>
                            <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                            <div class="text_testimonial">Efficiently unleash cross-media information without
                                cross-media value. Quickly maximizePodcasting operational change management inside of
                                workflows to establish a framework. Taking seamless key performance indicators
                                offline to maximise the long tail. Keeping your eye on the ball while performing a
                                deepdive on the integration.</div>
                        </div>

                        <div class="content_team">
                            <h2>John Doue</h2>
                            <div class="testimonial_title">Designer</div>
                            <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                            <div class="text_testimonial">Efficiently unleash cross-media information without
                                cross-media value. Quickly maximizePodcasting operational change management inside of
                                workflows to establish a framework. Taking seamless key performance indicators
                                offline to maximise the long tail. Keeping your eye on the ball while performing a
                                deepdive on the integration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image_team col-lg-6 col-md-6 col-sm-12">
                <div class="inner-testimonial">
                    <div id="particles-js"></div>
                    <div class="member-one"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-two"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-three"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-four"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-five"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-six"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-seven"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-eight"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-nine"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-ten"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                    <div class="member-eleven"><img src="assets/images/testimonial/author-8.jpg" alt="" /></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="crm_pricing">
    <div class="container">
        <div class="sec-title">
            <h2>Pricing Plans</h2>
        </div>
        <div class="crm_pricing_container">
            <div class="monthly-price">
                <div class="row">
                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Economy</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 25<span>/month</span></div>
                                <div class="title">$75 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Custom</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 30<span>/month</span></div>
                                <div class="title">$150 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Premium</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 50<span>/month</span></div>
                                <div class="title">$102 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yearly-price">
                <div class="row">
                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Economy</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 250<span>/year</span></div>
                                <div class="title">$75 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Custom</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 350<span>/year</span></div>
                                <div class="title">$150 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="price_data col-lg-4 col-md-6 col-sm-12">
                        <div class="price_box">
                            <div class="title_price_box">
                                <h2>Premium</h2>
                            </div>
                            <div class="content_details">
                                <div class="price_crm"><sub>$</sub> 500<span>/year</span></div>
                                <div class="title">$102 USD billed annually</div>
                                <ul class="crm_price_list">
                                    <li class="check"><span class="check fa fa-check"></span>Push Notifications
                                    </li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Offline Synchronization
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>Data Transfer</li>
                                    <li class="cross"><span class="remove fa fa-remove"></span>Speech & Text Analytics
                                    </li>
                                    <li class="check"><span class="check fa fa-check"></span>24/7 Support</li>
                                </ul>
                                <div class="crm_btn_box">
                                    <a href="#" class="btn_price">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="crm_pricing_option">
            <div class="crm_option_toggle">
                <span class="monthly">Monthly</span>
                <span class="icon"></span>
                <span class="yearly">Yearly</span>
            </div>
        </div>
    </div>
</section>


<section class="our_client">
    <div class="container">
        <div class="title-box">
            <h2>Certifications</h2>
            <div class="title">Indicators offline to maximise the long tail. Keeping your eye on the ball </div>
        </div>

        <div class="carousel-client">
            <ul class="client-carousel owl-carousel owl-theme">
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="#"><img src="assets/images/testimonial/brand.png" alt=""></a>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>