<div class="page-wrapper">
    <section class="banner-ayn-about">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-section wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <h2>Contact Us</h2>
                        <div class="text">Pine is a CRM solution designed to handle complex customer data and generate fruitful information, which helps businesses improve marketing strategies to achieve higher sales targets. With Pine CRM you can discover new possibilities
                            to interact with customers, where you can sell and increase your business like never before!
                        </div>
                        <!-- <a href="#" class="btn-banner">Explore Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                    </div>
                </div>
    
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.10" data-paroller-factor-sm="0.10" data-paroller-type="foreground" data-paroller-direction="horizontal">
                        <img src="assets/images/ayn_contact.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact-ayn-section">
        <div class="auto-container">
            <div class="row clearfix">
    
                <!-- Map Column -->
                <div class="map-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="contact-outer  wow slideInLeft">                             
                            <div class="contact-info-inner">
                                <h4 class="">Contact Us</h4>
                                <!-- <h6><i class="fa fa-map-marker" aria-hidden="true"></i><span class="ml-3">Rajashree
                                        Estate, 2nd Floor, Sr. 278/3, Hinjawadi Phase II, Pune, Maharashtra
                                        411057</span></h6> -->
                                <h6 class="mt-4"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ml-3">hr@ayn.com</span></h6>
                                <h6 class="mt-4"><i class="fa fa-phone-square" aria-hidden="true"></i><span class="ml-3">+91 9452168765</span></h6>
                                <div class="social-contact mt-4">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-pinterest"></span></a>
                                    <a href="#"><span class="fa fa-dribbble"></span></a>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Form Column -->
                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                    <h2>Get in Touch</h2>
                    <div class="inner-column">
                        <div class="contact-form">
                            <div class="title-box">
                                <form class="mt-4 mb-5 ml-5 mr-5">
                                    <div class="form-row" style="display: flex;">
                                        <div class="form-group" style="flex: 3%;">
                                            <!-- <label for="exampleFormControlSelect1">Salutation</label> -->
                                            <select class="form-control gender-select" id="exampleFormControlSelect1">
                                                <option>Ms.</option>
                                                <option>Mr.</option>
                                                <option>Dr.</option>
                                            </select>
                                        </div>
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label>First Name</label> -->
                                            <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
                                            <input type="email" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label for="inputPassword4">Last Name</label> -->
                                            <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
                                            <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-row" style="display: flex;">
                                        <div class="form-group" style="flex: 30%;">
                                            <!-- <label for="inputEmail4">Email Id</label> -->
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <input type="email" class="form-control pl-5" id="inputEmail4" placeholder="Email">
                                        </div>
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label for="inputPassword4">Contact No.</label> -->
                                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                                            <input type="text" class="form-control pl-5" id="inputPassword4" placeholder="Contact No.">
                                        </div>
                                    </div>
    
                                    <div class="form-row" style="display: flex;">
                                        <div class="form-group" style="flex: 30%;">
                                            <!-- <label for="inputAddress">Organisation Name</label> -->
                                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                                            <input type="text" class="form-control pl-5" id="inputAddress" placeholder="Organasation Name">
                                        </div>
    
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label for="inputCity">City</label> -->
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                            <input type="text" class="form-control pl-5" id="inputCity" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="form-row" style="display: flex;">
                                        <div class="form-group" style="flex: 30%;">
                                            <!-- <label for="inputState">State</label> -->
                                            <select id="inputState" class="form-control">
                                                <option selected>State...</option>
                                                <option>...</option>
                                            </select>
                                        </div>
    
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label for="inputState">Country</label> -->
                                            <select id="inputState" class="form-control">
                                                <option selected>Country...</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="form-group ml-2" style="flex: 30%;">
                                            <!-- <label for="inputZip">Zip</label> -->
                                            <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlTextarea1">Message</label> -->
                                        <textarea class="form-control pl-3" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                                Requst Live Demo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <a class="theme-btn btn-style-two contact_submit" type="submit" name="submit-form">Submit</a>
                                        <a class="theme-btn btn-style-two ml-2 contact_reset" type="submit" name="submit-form">Reset</a>
                                    </div>
                                </form>
                            </div>
                            <!--Contact Form-->
    
                        </div>
                        <!--End Contact Form -->
    
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    
    <section>
        <div class="row">
            <div class="map-column col-lg-12 col-md-12 col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15125.888028937343!2d73.71246755!3d18.597827900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1604579983907!5m2!1sen!2sin" width="100%" height="400" frameborder="0"
                    style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </section>
    <section class="contact-info-section">
        <div class="auto-container">
            <div class="row clearfix">
    
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <!-- Info Block -->
                    <div class="info-block wow fadeInLeft">
                        <div class="block-inner" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <h3>New York</h3>
                            <ul>
                                <li>+888 123 4567</li>
                                <li>Yourmail@gmail.com</li>
                                <li>123 New Street New City</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <!-- Info Block -->
                    <div class="info-block wow fadeInLeft">
                        <div class="block-inner" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <h3>London</h3>
                            <ul>
                                <li>+888 123 4567</li>
                                <li>Yourmail@gmail.com</li>
                                <li>123 New Street New City</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="column col-lg-4 col-md-12 col-sm-12">
                    <!-- Info Block -->
                    <div class="info-block wow fadeInLeft">
                        <div class="block-inner" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <h3>Brazil</h3>
                            <ul>
                                <li>+888 123 4567</li>
                                <li>Yourmail@gmail.com</li>
                                <li>123 New Street New City</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    </div>