<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Add Category</h1>
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input matInput formControlName="blogCategory">
            <mat-error>Blog category is required</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial type="submit">Submit</button>
    </div>
</form>